{{! Previous/next page links - only displayed on page 2+ }}

 
{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

    <div class="blog-short">
    <h3><a href="{{url}}">{{title}}</a></h3>
    <div class="row margin10">
      {{#author}}
        {{#if image}}
          <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
            
            <img src="{{image}}" class="img-responsive img-circle" />
            
          </div>
        {{/if}}
      {{/author}}
      <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
          <small>
            <i class="fa fa fa-calendar-o"></i>
            <time>
        {{ date format='DD MMMM YYYY' }}
            </time>
          </small>
        <div>
          {{#if tags}}
          <small>
              <i class="fa fa-tag"></i>
              {{#foreach tags }}
                <a href="{{url}}"><span class="label label-tag">{{name}}</span></a>
              {{/foreach}}
          </small>
          {{/if}}
        </div>
      </div>
    </div>
      
    {{#if image }}
          <div class="post-thumbnail">
              <img src="{{image}}"
              alt="{{title}}"  class="pull-left img-responsive thumb margin10 img-thumbnail" />              
          </div>

    {{/if}}
    <article class="excerpt">{{excerpt words="200"}}</article>
    <a class="pull-right marginBottom10" href="{{url}}">Read More</a>
    </div>

{{/foreach}}
{{pagination}}
{{! Previous/next page links - displayed on every page }}

