{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="page">
      <header class="page-header">
        <h3 class="page-title">{{ title }}</h3>
        <div class="post-metadata">
          <div> <i class="fa fa-calendar"></i>
            <time>
              {{ date format='DD MMMM YYYY' }}
            </time>
          </div>
          <div>
            {{#if tags}}
                <i class="fa fa-tag"></i>
                {{#foreach tags }}
                  <a href="{{url}}"><span class="label label-primary">{{name}}</span></a>
                {{/foreach}}
            {{/if}}
          </div>
        </div>
      </header>
      <article class="page-content">
        {{ content }}
      </article>
    </div>
  </div>
</div>

{{/post}}
